* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: linear-gradient(135deg, rgb(35, 37, 38), rgb(65, 67, 69));    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.faq-container {
    background: linear-gradient(135deg, rgb(204, 119, 34), rgb(62, 39, 35));    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    padding: 30px;
    border-radius: 20px;
}

.faq-header {
    margin-bottom: 30px;

}

.faq-header h1 {
    color: #333;
    font-size: 60px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: 3000;
}

.faq-header p {
    color: #690000;
    font-size: 30px;
    text-align: center;
}

.faq-item {
    border-bottom: 1px solid #eee;
    padding: 15px 0;
    position: relative;
}

details > summary {
    list-style: none;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-weight: 1500;
    color: #333;
    padding: 5px 0;
    font-size: 36px;
}

.question:focus {
    outline: none;
    color: #2563eb;
    font-size: 36px;
}

details[open] .toggle-icon {
    transform: rotate(180deg);
}

.answer {
    color: #ffffff;
    font-size: 22px;
    line-height: 1.5;
    margin-top: 10px;
    padding-right: 25px;
}

.toggle-icon {
    font-size: 18px;
    color: #666;
    transition: transform 0.3s;
    margin-left: 10px;
}

.faq-item + .faq-item {
    margin-top: 5px;
}

.question:hover {
    color: #2563eb;
}
  .author-info {
    font-size: 20px;
    text-align: center;
    margin-top: 16px;
    color: rgb(50, 94, 166);
  }

  .author-info a {
    text-decoration: none;
  }

  #author-link {
    color:#EFBF04;
    font-size: 36px;
  }

  